{
    "useTabs": false,
    "tabWidth": 4,
    "endOfLine": "auto",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": true,
    "printWidth": 120,
    "plugins": [],
    "importOrder": [
        "^@(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^$lib/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}
