[package]
name = "shine-test-macros"
version.workspace = true
edition.workspace = true

[lib]
proc-macro = true

[features]
default = []
wasm = []

[dependencies]
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true, features = ["extra-traits", "full"] }
